@require "default/config.styl"
@require "room.styl"
@require "roomResponsive.styl"

body
  width 100vw
  color color-white
  fill color-white
  stroke color-white
  background color-black
  font-family 'Indie Flower', cursive
  font-size font-normal
  /* overflow hidden */
